<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("Qigong (氣功) for Health and Wellbeing in Seoul: Free Classes for All Ages") }}</title>

<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=inter:wght@400;700&family=poppins:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="has-background">

    {{ content | safe }}

    <script src="/js/main.js" defer></script>
</body>
</html>